@import "bootstrap";

.hero {
  background: image_url('oldpeople.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}