@import "bootstrap";

.hero {
  background: image_url('website3.jpg') no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

