<div class="hero">
<br />
  <div class="frosty col-10 offset-1 text-center">
    <h1>Find the perfect place,</h1>
    <h2>for your loved ones.</h2>
    <br />
    <%= link_to 'Learn More', about_path, class: 'btn btn-success' %>
  </div>
</div>